<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/feed">Project Nexus</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngFor="let link of navLinks">
          <a
            *ngIf="link.path; else externalLink"
            class="nav-link"
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: link.path === '/feed' }"
          >
            {{ link.label }}
          </a>
          <ng-template #externalLink>
            <a class="nav-link" [href]="link.href">{{ link.label }}</a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
